@charset "UTF-8";
html{height: 100%;}
body {margin: 0; height: 100%;}
a {
	text-decoration: none;
	color: black;
}
#container {
	display: grid;
	grid-template-columns: 230px auto;
	grid-template-rows: 290px auto;
	align-items: stretch;
	align-content: stretch;
	height: 100%;
}
#sidenav {
	grid-row: 1 / span 2;
	background-color: rgba(53, 66, 89);
	display: block;
	position: fixed;
	width: 230px;
	height: 100%; 
}
#side_top {background-color: rgba(53, 66, 89); height: 100px; text-align: center; padding-top: 10px;}
#side_bottom {
	background-color: rgba(53, 66, 89); 
	height: calc(100% - 110px); 
	overflow: auto; 
	font-size: 20px; 
	font-weight: bold;
}
#side_bottom ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#side_bottom li {text-align: center;}
#side_bottom li a{
	display: block;
	text-decoration: none;
	padding: 10px;
	color: #D3D3E3;
}
#side_bottom li a:hover:not(.active) {
  background-color: rgba(73, 86, 109);
}
#side_bottom li a.active {
	background-color: rgba(73,86,109);
	color: white;
}
#side_bottom::-webkit-scrollbar {
	width: 5px;
	background-color: rgba(53, 66, 89);
}
#side_bottom::-webkit-scrollbar-thumb {
	background-color: rgba(150, 150, 150);
	border-radius: 10px;
}
#side_bottom::-webkit-scrollbar-track {
	border-radius: 10px
}
#top {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	background-color: rgba(194, 222, 209);
	text-align: center;
	font-size: 40px;
}
#top h1 {
	margin: 50px 0 30px 0;
}
#top_bottom {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#top_bottom * {
	margin: 3px;
}
#main {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	height: 100%;
}
[name=searchOption] {height: 36px;}
#keyword {height: 30px; width: 300px;}
.btnOk {height: 35px;}
.btn{cursor: pointer;}
