@charset "UTF-8";

body {
	background-color: rgba(194, 222, 209);
	width:100%;
	margin-top: 220px;
	text-align: center;
	}
#logo {
 	text-decoration: none;
 	color: black;
	font-size:80px;
}
h2 {
	font-size: 30px;
}