<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OrderList">
    <select id="GetOrderList" 
    resultType="com.bookroom.mypage.vo.MypageVo">
		SELECT    ORDERLIST_TB.*, 
		          ORDER_TB.ORDER_DATE,
		          ORDER_TB.PAYMENT,
		          ORDER_TB.USER_ID 
        FROM      ORDERLIST_TB 
        LEFT JOIN ORDER_TB 
        ON        ORDER_TB.ORDER_ID = ORDERLIST_TB.ORDER_ID 
        WHERE     ORDER_TB.USER_ID = #{userid}
    </select>
    
    <select id="getOrderListByPeriod"
      resultType="com.bookroom.mypage.vo.MypageVo">
      SELECT ORDERLIST_TB.*, 
		     ORDER_TB.ORDER_DATE,
		     ORDER_TB.PAYMENT,
		     ORDER_TB.USER_ID 
        FROM ORDERLIST_TB 
        LEFT JOIN ORDER_TB 
        ON        ORDER_TB.ORDER_ID = ORDERLIST_TB.ORDER_ID 
        WHERE     ORDER_TB.USER_ID = #{userid} 
          AND ORDER_TB.ORDER_DATE &gt;= #{start_date} 
          AND ORDER_TB.ORDER_DATE &lt;= #{end_date} 
    </select>
</mapper>